html {
	scroll-behavior: smooth;
	/*Adds smooth scrolling instead of snapping to element*/
}

body {
	background-image: url('./images/background.jpg');
}

.intro {
	height: 1000px;
	text-align: center;
	padding: 20px;
}

.intro h1 p {
	padding: 20px;
}

#content {
	padding: 20px;
}

.go-down {
	font-size: 50px !important;
	width: 20px;
	text-align: center;
	margin: auto;
	position: absolute;
	bottom: 0px;
	left: 49.5%;
}

.title {
    font-family: 'Playfair Display', serif;
}

/* .grid {
	width: auto;
	margin: 0 auto;
} */

.list {
	height: 90vh;
	position: relative;
	list-style-type: none;
	padding-left: 0;
}

.dp-none {
	display: none;
}

.result {
	display: flex;
    align-items: center;
    justify-content: center;
}

.card {

	transition: all 1s cubic-bezier(0.68, -.55, .265, 1.55);

	perspective: 1000;
	-ms-transform: perspective(1000px);
	-moz-transform: perspective(1000px);
	-ms-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;

	float: left;
	width: 200px;
	height: 280px;
	/* background-color: #eee; */
	background-image: url("./2.svg");
	background-size: cover;
  	background-position: center;

	position: absolute;
	right: 0;
	bottom: 0;
	margin: 30px 0 15px 15px;
	border-radius: 10px;

	&:nth-child(5n) {
		margin-right: 0;
	}

	&.ani0 {
		right: 948px;
		bottom: 326px;
	}

	&.ani1 {
		right: 711px;
		bottom: 326px;
	}

	&.ani2 {
		right: 474px;
		bottom: 326px;
	}

	&.ani3 {
		right: 237px;
		bottom: 326px;
	}

	&.ani4 {
		right: 0;
		bottom: 326px;
	}

	&.ani5 {
		right: 948px;
		bottom: 0;
	}

	&.ani6 {
		right: 711px;
		bottom: 0;
	}

	&.ani7 {
		right: 474px;
		bottom: 0;
	}

	&.ani8 {
		right: 237px;
		bottom: 0;
	}

}

.stack, .spread {
	width: 100px;
	height: 40px;
	border: 1px solid #f0c4b3;
	background: #ede2da;
	border-radius: 5px;
	margin-left: 100px;
}

.display-none {
	display: none;
}

/* scroll */
/* width */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #999;
  }
  