html {
	/*Adds smooth scrolling instead of snapping to element*/
	scroll-behavior: smooth;
}

body {
	background-image: url('./images/background.jpg');
	background-size: cover;
}

.intro {
	height: 100vh;
	text-align: center;
	padding: 20px;
}

.intro h1 p {
	padding: 20px;
}

#content {
	padding: 20px;
}

.go-down {
	font-size: 50px !important;
}

.icon-go-down {
	text-decoration: none !important;
}

.title {
	font-family: 'Playfair Display', serif;
}

.dp-none {
	display: none;
}

.result {
	display: flex;
	align-items: center;
	justify-content: center;
}

#pack_cont {
	margin: 30px auto;
	border-radius: 10px;
	height: 85vh;
}

/*single card*/
.card {
	width: 100px;
	height: 140px;
	border: 1px solid #ddd;
	border-radius: 10px;
	position: absolute;
	background-repeat: no-repeat;
	cursor: pointer;
	text-align: center;
	background-image: url("./2.svg");
	background-size: cover;

	/*all transition to take 1s */
	transition: all 1s;
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;

	/*set card transform origin to 20% from x-axis and 80% from y-axis */
	transform-origin: 20% 80%;
	-ms-transform-origin: 20% 80%;
	-webikit-transform-origin: 20% 80%;
	-moz-transform-origin: 20% 80%;

	/*make card non selectable*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.stack,
.spread,
.btn-back {
	width: 100px;
	height: 40px;
	border: 1px solid #f0c4b3;
	background: #ede2da;
	border-radius: 5px;
}

.display-none {
	display: none;
}

/* scroll */
/* width */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #999;
}

@media (max-width: 768px) {
	.intro {
		height: fit-content;
	}
	
}
