html {
	/*Adds smooth scrolling instead of snapping to element*/
	scroll-behavior: smooth;
}

body {
	background-image: url('./images/background.png');
	background-size: cover;
}

.intro {
	height: fit-content;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

.title {
	font-family: 'quicksand', arial;
	color: #93b6bb;
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 30px;
}

.intro .content-intro {
	margin: 0 auto;
	width: 80%;
	font-size: 20px;
	font-family: "YADK36WKZLc 0", _fb_, auto;
}

.intro .gr-button {
	margin-top: 50px;
}

.intro .gr-button .btn-overview,
.intro .gr-button .btn-try {
	border-radius: 20px;
	padding: 13px 7%;
	text-decoration: none;
}

.intro .gr-button .btn-overview a,
.intro .gr-button .btn-try a {
	text-decoration: none;
	color: #000;
}

.intro .gr-button .btn-overview {
	background: #bedfe4;
	margin-right: 20%;
}

.intro .gr-button .btn-try {
	background: #1c2143;
	color: #fff;
}

#content,
#instruct {
	margin: 50px auto;
	width: 80%;
	text-align: center;
}

.card {
	cursor: pointer;
}

.background {
	position: relative;
	width: 50%;
	height: auto;
	margin: 0 auto;
	top: -160px;
	left: -10px;
	z-index: 2;
	background-color: #93b6bb;
}

.bg-result {
	position: relative;
	width: 50%;
	height: auto;
	margin: 0 auto;
	z-index: 1;
}

#result_image {
	border-radius: 13px;
}

.dp-none {
	display: none;
}

/* scroll */
/* width */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #999;
}